{
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".json",
        ".graphql"
      ]
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": 8
      }
    }]
  ]
}
